{% extends "base.html" %}

{% block title %}Add expense{% endblock %}

{% block body %}
    
    <h1 class="text-center mt-3 mb-5">Add expense</h1>

    <!-- <form method="post" action="/expense/create"> -->

    <div class="row">
        <div class="col-lg"></div>
        <form method="post" action="/expense/create" class="col-lg">
            <div class="form-group">
                <div>
                    <label for="inputAmount" class="col-form-label">Amount</label>
                    <div class="col mb-3">
                        <input type="number" name="amount" id="inputAmount" placeholder="0,00"  min="0" step="1" class="form-control">
                    </div>
                </div>
                <div>
                    <label for="inputDate" class="col-form-label">Date</label>
                    <div class="col-4 mb-3">
                        <input type="date" name="date" id="inputDate"  value="{{ presentDate }}" class="form-control">
                    </div>
                </div>
                <div>
                    <label for="paymentCategory" class="col-form-label">Means of payment:</label>
                    <select class="form-select mb-2 col-6" name="paymentCategory" id="paymentCategory" required>
                        <option disabled selected>select</option>
                        {% for payment in payments %}
                        <option value="{{ payment }}">{{ payment }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="expenseCategory" class="col-form-label">Category of expense:</label>
                    <select class="form-select mb-2 col-6" name="expenseCategory" id="expenseCategory" required>
                        <option disabled selected>select</option>
                        {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1" class="col-form-label">Please describe the category of expense:</label>
                    <div class="col mb-3">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="expenseComment" style="resize:none"></textarea>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <button type="submit" class="btn btn-success m-2">Submit</button>
                </div>
            </div>
        </form>
        <div class="col-lg"></div>
    </div>
 
{% endblock %}
