{% extends "base.html" %}

{% block title %}Balance sheet{% endblock %}

{% block body %}
    
    <h1>Balance sheet</h1>

    <form method="post" action="/balancesheet/show">
            <select class="form-select mt-4 mb-2" name="timePeriod">
                <option disabled selected>Select the time period</option>
                <option value="presentMonth">Present month</option>
                <option value="previousMonth">Previous month</option>
                <option value="presentYear">Present year</option>
                <option value="otherTime">Other time</option>
            </select>
           

            {% if choosenTheOtherTime is not empty %}
            <div>
                <label for="inputDate">Date</label>
                <input type="date" name="dateStart" id="inputDate">
            </div>    
            <div>
                <label for="inputDate">Date</label>
                <input type="date" name="dateEnd" id="inputDate">
            </div> 
            {% endif %}
    


            <button type="submit" class="btn btn-primary">Submit</button>
    </form>


{% endblock %}
