{% extends "base.html" %}

{% block title %}Balance sheet{% endblock %}

{% block body %}
    
    <h1 class="text-center mt-3 mb-5">Balance sheet</h1>


    <div class="row">
        <div class="col-lg">

            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category of Income</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                    {% for row in balanceOfIncomes|batch(3, 'brak') %}
                    <tr>
                        {% for column in row %}
                            <td>{{ column }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
                <tbody>
                    <tr>
                        <th scope="row">#</th>
                        <th>Total Incomes</td>
                        <th>{{ sumOfIncomes }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-lg">
           

            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category of Expense</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">33</th>
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th scope="row">xx</th>
                        <th>Total Expenses</td>
                        <th>{{ sumOfExpenses }}</td>
                    </tr>
                </tbody>
            </table>
        </div>


    <!--  
    <div class="row">
        <div class="col-lg">

        INCOMES:

        <ul>
            {% for number in numberOfIncomes %}
                <li>{{ number }}</li>
            {% endfor %}
        </ul>
        <ul>
            {% for name in namesOfIncomes %}
                <li>{{ name }}</li>
            {% endfor %}
        </ul>
        
        <ul>
            {% for amount in amountOfIncomes %}
                <li>{{ amount }}</li>
            {% endfor %}
        </ul>
        <p>sumOfIncomes = {{ sumOfIncomes }}</p>
        
        <ul>
            {% for item in balanceOfIncomes %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>

        <table>
            {% for row in balanceOfIncomes|batch(3, 'brak') %}
            <tr>
                {% for column in row %}
                    <td>{{ column }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <p>-----------------------------</p>
        <br>
        EXPENSES:
        <ul>
            {% for number in numberOfExpenses %}
                <li>{{ number }}</li>
            {% endfor %}
        </ul>
        <ul>
            {% for name in namesOfExpenses %}
                <li>{{ name }}</li>
            {% endfor %}
        </ul>
        
        <ul>
            {% for key, amount in amountOfExpenses %}
                <li>key = {{ key }}</li>
                <li>amount = {{ amount }}</li>
            {% endfor %}
        </ul>
        <p>sumOfExpenses = {{ sumOfExpenses }}</p>


        {% for name in namesOfExpenses %}
            <p>{{ loop.index0 }} - {{ name }}</p>
        {% endfor %}

    </div>
    -->

{% endblock %}
