{% extends "base.html" %}

{% block title %}Balance sheet{% endblock %}

{% block body %}
    
    <h1 class="text-center mt-5 mb-3">Balance sheet</h1>
    <h4 class="text-center mt-1 mb-5">from {{startDate}} to {{endDate}}</h4>

    <div class="row">
        <div class="col-lg">

            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category of Income</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                    {% for row in balanceOfIncomes|batch(3, 'none') %}
                    <tr>
                        {% for column in row %}
                            <td>{{ column }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
                <tbody>
                    <tr>
                        <th scope="row">#</th>
                        <th>Total Incomes:</td>
                        <th>{{ sumOfIncomes }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-lg">
           

            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category of Expense</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                    {% for row in balanceOfExpenses|batch(3, 'none') %}
                    <tr>
                        {% for column in row %}
                            <td>{{ column }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
                <tbody>
                    <tr>
                        <th scope="row">#</th>
                        <th>Total Expenses:</td>
                        <th>{{ sumOfExpenses }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg"></div>
            {% if goodBalanceMessage == true %}
            <div class="col-lg pt-4">
                <div class="alert alert-success" role="alert">
                    <p class="text-center mb-0">{{ balanceMessage }}</p>
                </div>
            </div>
            {% else %}
            <div class="col-lg pt-4">
                <div class="alert alert-danger" role="alert">
                    <p class="text-center mb-0">{{ balanceMessage }}</p>
                </div>
            </div>
            {% endif %}

        <div class="col-lg"></div>

        <div class="d-flex justify-content-center mt-3">
            <a href="/balancesheet/new" class="btn btn-primary m-2" >Back</a>
        </div>

    </div>
    


        
{% endblock %}
